
/* Responsive Notebooks */
@media only screen and (max-width:1280px) {

	.paper-title {
	    top:60px;
			width:26%;
			
		}


		.paper-title> h2 {
	    top:60px;
			width:26%;


} /* END Media Query */

/* Responsive Notebooks */
@media only screen and (max-width:1280px) {

	body {
		font-size: 1.7rem;
		/* = 17px */
		line-height: 1.25;
	}

	.font-title {
		font-size: 4rem;
	}

	.glossary-item,
	.glossary-item-fr,
	.glossary-item-en {
		/* Dotted underline */
		background-position: 0px 1.8rem;
	}

}
/* END Media Query */

/* iPad portrait */
/* http://stephen.io/mediaqueries */
@media screen and (max-width:768px) {

	.notes-images {
		position: relative;
		display: contents;
		margin-left: 0;

		}

		.footnote {
			float: right;
			width: 100%;
			margin:0px;
			clear: both;
			padding-bottom: 10px;
		}


} /* END Responsive */


/* Mobile large */
/* iPhone 6 = 375 x 667 px */
@media screen and (max-width:667px) {


	em{

		display: block;
			width: 100%;
	}

	img
 {
	width: 100%;
	height: auto;
}

	body {
		padding-left:15px;
		padding-right:15px;
		overflow-x:hidden;
		overflow-y:visible;
		}

	article {
		margin-left:0;
		padding-right:2.5vw;
		display: contents;
		}

	.font-title {
		font-size:2.5rem;
		}

	.paper-title {
	    /* left:70px;
	    top:150px;
	    width:50vw; */
		}



	.content-article {
		margin-left:0;
		}

	.numerotation,
	.pourcentage {
		font-size:0.9rem;
		}


	.numerotation,
	.numero {
		left:27px;
		font-family:'Agipo Regular';
		font-weight:400;
		}

	.pourcentage {
		left:-48px !important;
		}


	article h3 {
		width:75%;
		}

	.footnote-content .footnote-counter {
		display:inline;
		display:none;
		}


} /* END Responsive */

@media screen and (max-width:1024px) {

	body {
		padding-left: 60px;
		font-size: 1.6rem;
			line-height: 1.2;
		}

	.font-title {
		
		height: 210px;
		}

		.font-title H1 {
		
			font-size: 8rem;
			margin-bottom: 70%;

			}

	.paper-title {
		position:relative;
	    /* left:35vw;
	    top:100px; */
			/* width:35vw; */
			/* margin-bottom: 70%; */
			display: block;
		}

		#sidebar{
			margin-top: 24vh;
		
		
		}



	article {
		position:relative;
		left:0;
		right:0;
		top:0;
		margin-left:0;
		margin-right:0;
		padding-top:0;
		}




	.content-article {
	    margin-left:0vw;
	    padding-bottom:10px;
		}

	.numerotation {
		text-indent:4vw;
		}

	.pourcentage {
		left: 7px !important;
		width: 4.2vh;
		}

	.notes-images {
		position: absolute;
		margin-right: 0;
		margin-left: 0;
		width: 100%;
    opacity: 0;
		}

		
	.numero {
		text-indent:0;
		text-align:right;
		}

		#nombre> H2{

		font-size: 1.1em;
		}
	
	

	.r-notes-container {
		position: static;
	  }

	  .r-notes-container>.footnote {
		top: 0 !important;
		position: relative !important;
		}
		
		.footnote {
			float: right;
			width: 100%;
			margin:0px;
			clear: both;
			padding-bottom: 10px;
		}

	.font-title {
		font-size: 8rem;
		
	}


	

}}