/* Moving shapes */
.fade {
	animation-name: fade;
	animation-duration: 5s;
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

svg {
	fill: none;
	/* margin: 20px; */
	position: fixed;
	top: 1vh;
	stroke: black;
}

.content-article > H1 {
	font-size: 1.7em
}


rect {
	transition: height 2s;
	transition: width 3s;

}

circle {

	transition: r 5s;
	/* transition: width 0.8s; */
}

#circle2 {
	margin-left: auto;
}


/* Navigation */
#sidebar {
	margin-top: 24vh;
	z-index: 5;
	position: relative


}


html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}



@font-face {
	font-family: "Pacifista";
	src: url("fonts/PacifistaMB-Italic.woff2");

}

@font-face {
	font-family: "Pacifista-Italic";
	src: url("fonts/PacifistaLS-Italic.woff2") format("woff2");
}


@font-face {
	font-family: 'Open Sans', sans-serif;

}

body {
	box-sizing: border-box;
	font-family: 'Open Sans';
	font-size: 1.1rem;
	line-height: 1.5;
	font-weight: 400;
	font-kerning: normal;
	-webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
	-moz-font-feature-settings: "kern=1", "liga=1", "calt=1";
	-moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
	font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;

}

.footnote-backref {
	display: none;
}


.font-small {
	font-size: 70%;
	line-height: 1.3;
}

.font-title {
	font-family: "Pacifista";
	font-size: 3rem;
	line-height: 1.1;
	margin-top: 0;
}

h1 {
	font-family: 'Pacifista';
	font-size: 2.3em;
}

strong {
	font-family: Pacifista;
}


img {
	width: 81%;
	height: auto;
}

a {
	color: #000;
	text-decoration: none;
	border: 0;
	font-family: Pacifista;
}

a:focus {
	outline: 0;
}

p {
	margin-top: 0;
}

ul,
ol,
li {
	text-indent: 0;
	list-style: none;
	padding: 0;
	margin: 0;
}

sup {
	font-size: 65%;
	line-height: 1;
}


.break {
	display: block;
}

#main ul{

	margin-left: 10vw;
	padding: 0;
}





